doctype html
html(lang="en")
  head
    title= "Place Yourself"
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/skeleton.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Playfair+Display|Raleway')
    link(rel='stylesheet', href='/css/styles.css')
  body
    div(class='container')
      include header.pug
      div(class='row bottom-part')
        div(class='one-half column info partition')
          include docs.pug
        div(class='one-half column submit-form partition')
          h4 #{name}
          div(class='tileContainer')
            pre e.g. http://localhost:3000/#{name}/250/300
