<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PlaceYourself | DEMO</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/skeleton.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <div class="container">
    <section class="header">
      <h1 class="title">Place Yourself</h1>
      <hr>
      <h4 class="byline">simple custom placeholders</h4>
    </section>

    <div class="row bottom-part">
      <div class="one-half column info partition">
        <h4>Docs</h4>
      </div>
      <div class="one-half column submit-form partition">
        <h4>Create</h4>

        <form>
          <div class="row">
            <div class="six columns">
              <label for="exampleEmailInput">Collection name</label>
              <input class="u-full-width" type="text" placeholder="e.g. Doggos on Demand" id="exampleEmailInput">
            </div>
            <div class="six columns">
              <label for="exampleRecipientInput">Images</label>
              <input type="file" name="img" multiple>
            </div>

          </div>
          <label for="exampleMessage">Description</label>
          <textarea class="u-full-width" placeholder="e.g. A collection of placeholder dogs!" id="exampleMessage"></textarea>
          <input class="button-primary" type="submit" value="Sumbit">
        </form>

      </div>
    </div>

  </div>
</body>
</html>
