h4 Docs
ul
  li Install and run
    pre npm install && node server
  li View at
    pre http://localhost:3000
  li Choose and submit images for the collection
  li Access placeholders by height and width
    pre e.g. http://localhost:3000/240/500
