doctype html
html(lang="en")
  head
    title= "Place Yourself"
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Playfair+Display|Raleway')
    link(rel='stylesheet', href='/css/styles.css')
    script(src='/js/validate.min.js')
  body
    div(class='container')
      include header.pug
      div(class='row bottom-part')
        div(class='one-half column info partition')
          include docs.pug
        div(class='one-half column submit-form partition')
          include form.pug
    script.
      var validator = new FormValidator('create_collection_form', [{
        name: 'collectionName',
        rules: 'required'
      }, {
        name: 'collectionImages',
        rules: 'required'
      }, {
        name: 'collectionDescription',
        rules: 'required'
      }], function(errors, event) {
        if (errors.length > 0) {
          console.log('must fill in all required fields');
          // TODO actual validation stuff
        }
      });
