html, body {
    height: 100%;
    margin: 0;
    background-color: #dee0e2;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
}

p {
  font-family: 'Playfair Display', serif;
}

.header {
  margin: 2em;
  text-align: center;
  height: 20%;
}

hr {
  margin: 0px;
  border-color: grey;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.container {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.bottom-part {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
  padding: 1em;
}

.info {
  border-right: solid grey 1px;
  flex: 1 1 auto;
}

.submit-form {
  flex: 1 1 auto;
}

.tileImage {
  height: 6em;
  width: auto;
}

.tileContainer {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: center;
}
